<div class="row">
    <% @profiles.each do |profile| %>
      <div>
        <% unless profile.is_current_user?(current_user) %>
          <div class="col-sm-12">
            <%= link_to profile.nickname, profile_path(profile) %>
          </div>
          <div class="col-sm-12">
            <% if profile.avatar.exists? %>
              <%= image_tag(profile.avatar.url(:thumb)) %>
            <% end %>
          </div>
          <div class="col-sm-12">
            <%= make_friend_signs(profile) %>
          </div>
          <div class="col-sm-12">
            <%= make_answer_list(profile) %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>