<section id="notification-list">
  <%= render partial: "shared/notification_list" %>
</section>

<hr>

<section id="friend-list">
  <%= render partial: "shared/friend_list" %>
</section>

<hr>

<section id="mission-list">
  <%= render partial: "shared/mission_list" %>
</section>