<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>

  <title>Introduction | Unify - Responsive Website Template</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="THE FASTEST AND EASIEST WAY TO START NEW PROJECTS AND STARTUPS">
  <meta name="author" content="htmlstream.com">

  <meta property="og:url" content="http://htmlstream.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Unify - Responsive Website Template">
  <meta property="og:description" content="THE FASTEST AND EASIEST WAY TO START NEW PROJECTS AND STARTUPS">
  <meta property="og:image" content="http://htmlstream.com/preview/unify-v1.9.1/assets/img/intro/promo.jpg">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Web Fonts -->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="assets/css/headers/header-v6.css">
  <link rel="stylesheet" href="assets/css/footers/footer-v6.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="assets/plugins/animate.css">
  <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
  <link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">

  <!-- CSS Pages Style -->
  <link rel="stylesheet" href="assets/css/pages/page_intro.css">

  <!-- CSS Theme -->
  <link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
  <link rel="stylesheet" href="assets/css/theme-skins/dark.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body class="header-fixed page-intro">
  <div class="wrapper">

    <!--=== Promo Block ===-->
    <div class="interactive-slider-v2 intro-promo-img intro-promo-cover-dark parallaxBg">
      <div class="container" data-start="opacity: 1;" data-450="opacity: 0;">
        <h1 class="margin-bottom-30" style="font-size: 55px; letter-spacing: 5px;">UNIFY RESPONSIVE TEMPLATE</h1>
        <p style="font-weight: normal; letter-spacing: 1px;">THE FASTEST AND EASIEST WAY TO START <br> NEW PROJECTS AND STARTUPS</p><br>
        <a style="padding: 8px 25px; letter-spacing: 1px;" href="#pkg-main" class="btn-u btn-brd btn-brd-hover btn-u-light rounded margin-right-10">START BROWSING</a>
        <a style="padding: 8px 25px; letter-spacing: 1px;" href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697" target="_blank" class="btn-u btn-brd btn-brd-hover btn-u-light rounded">PURCHASE NOW</a>

        <!-- Social Block -->
        <div class="section-socials">
          <div class="section-social">
            <div class="section-social-title">Like Us on Facebook</div>
            <div class="section-social-button">
              <div class="fb-like" data-href="http://facebook.com/htmlstream" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
          </div>
          <div class="section-social">
            <div class="section-social-title">Follow Us on Twitter</div>
            <div class="section-social-button">
              <a href="https://twitter.com/htmlstream" class="twitter-follow-button" data-show-count="false">@htmlstream</a>
            </div>
          </div>
        </div>
        <!-- End Social Block -->
      </div>
    </div>
    <!--=== End Promo Block ===-->

    <!--=== Package Description ===-->
    <div style="position: relative;">
      <!-- Package Navigation -->
      <header class="package__nav">
        <nav class="text-center">
          <ul class="list-inline no-margin">
            <li><a class="package__nav-link" href="#pkg-main">Unify Main</a></li>
            <li><a class="package__nav-link" href="#pkg-one-page">One Pages</a></li>
            <li><a class="package__nav-link" href="#pkg-blog">Blog &amp; Magazine</a></li>
            <li><a class="package__nav-link" href="#pkg-landing">Landing Pages</a></li>
            <li><a class="package__nav-link" href="#pkg-shop">E-Commerce</a></li>
            <li><a class="package__nav-link" href="#pkg-email">E-Mail Templates</a></li>
            <li><a class="package__nav-link" href="#pkg-others">Others</a></li>
          </ul>
        </nav>
      </header>
      <!-- End Package Navigation -->


  </div><!--/wrapper-->

  <!-- JS Global Compulsory -->
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="assets/plugins/back-to-top.js"></script>
  <script src="assets/plugins/smoothScroll.js"></script>
  <script src="assets/plugins/jquery.parallax.js"></script>
  <script src="assets/plugins/skrollr/skrollr-ini.js"></script>
  <script src="assets/plugins/counter/waypoints.min.js"></script>
  <script src="assets/plugins/counter/jquery.counterup.min.js"></script>
  <script src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

  <!-- JS Customization -->
  <script src="assets/js/custom.js"></script>

  <!-- JS Page Level -->
  <script src="assets/js/app.js"></script>
  <script src="assets/js/plugins/cube-portfolio/cube-portfolio-4.js"></script>

  <script>
    jQuery(document).ready(function() {
      App.init();
      App.initCounter();
      App.initParallaxBg();
    });
  </script>

  <!-- Package Nav -->
  <script>
    jQuery(window).scroll(function() {
      if (jQuery(window).scrollTop() > 642) {
      jQuery('.package__nav').addClass('package__nav-is-fixed');
      } else {
      jQuery('.package__nav').removeClass('package__nav-is-fixed');
      }
    });

    $(function() {
      $('a[href*=#pkg-]:not([href=#pkg-])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 500);
            return false;
          }
        }
      });
    });
  </script>
  <!-- Package Nav -->

  <!-- Facebook Like -->
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId: '1972702999621713',
        status: true,
        xfbml: true,
        version: 'v2.3'
      });
      if (typeof gaSocialTracking != 'undefined') gaSocialTracking.trackFacebook();
      setTimeout(function() {
        if (typeof window.fbCallback == 'function') {
          window.fbCallback();
        }
      }, 3000); // to make sure FB was loaded
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- /Facebook Like -->

  <!-- Twitter Follow -->
  <script>
    window.twttr = (function(d, s, id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      return window.twttr || (t = {_e: [], ready: function(f) { t._e.push(f) }});
    }(document, "script", "twitter-wjs"));

    twttr.ready(function(twttr) {
      twttr.events.bind('tweet', function(event) {
        if (typeof gaSocialTracking != 'undefined') gaSocialTracking.trackTwitter();
      });
    });
  </script>
  <!-- /Twitter Follow -->

  <!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
  <script src="assets/plugins/html5shiv.js"></script>
  <script src="assets/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->
</body>
</html>
>>>>>>> environment settting
