<!DOCTYPE html>
<html lang="zh-hant-tw">
<head>
  <title>DIIP 慢慢來，比較快</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag "favicon.ico", type: 'image/png'%>
</head>

<body class="header-fixed">
  <div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-transparent header-dark-dropdown header-sticky">
      <!-- Navbar -->
      <div class="navbar mega-menu" role="navigation">
        <div class="container col-md-12">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="menu-container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a href="#">
                <img class="default-logo" style="border-color: #FFF3D8; border: 2px" src="assets/img/diip_logo.png" alt="Logo">
                <img class="shrink-logo" style="border-color: #FFF3D8; border: 2px" src="assets/img/diip_logo.png" alt="Logo">
              </a>
            </div>
            <!-- ENd Navbar Brand -->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-responsive-collapse">
            <div class="menu-container">
              <ul class="nav navbar-nav">
                <!-- Nav -->
<<<<<<< 1f52bb610ac2f8912fc3dd746360ea00700defc0
                <li class="dropdown active">
                  <a href="#diip_feature">產品特色</a>
                </li>

                <li class="dropdown active">
                  <a href="#diip_story">使用情境</a>
                </li>

                <li class="dropdown active">
=======
                <li class="page-scroll">
                  <a href="#diip_feature">產品特色</a>
                </li>

                <li class="page-scroll">
                  <a href="#diip_story">使用情境</a>
                </li>

                <li class="page-scroll">
>>>>>>> landing page v2
                  <a href="#diip_email">馬上加入</a>
                </li>

              </ul>
            </div>
          </div><!--/navbar-collapse-->
        </div>
      </div>
      <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    <!--=== Full Height Text Rotater ===-->
    <div class="fullscreen-static-image1 fullheight bg-color-darker">
      <div class="container valign__middle text-center">
        <span class="promo-text-v1 color-dark animated fadeInDown wow margin-bottom-10" data-wow-duration="1.5s" data-wow-delay=".5s">
          DIIP 走進你的心
        </span>
        <h2 class="promo-text-v2 color-dark cd-headline letters type margin-bottom-30">
          就是喜歡
          <span class="cd-words-wrapper">
            <b class="is-visible">任性做自己</b>
            <b>認識新朋友</b>
            <b>聽到好故事</b>
          </span>
        </h2>
        <div class="animated fadeInUp wow" data-wow-duration="1.5s" data-wow-delay="1s">
<<<<<<< 1f52bb610ac2f8912fc3dd746360ea00700defc0
          <a href="#diip_feature" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light-grey btn-u-block rounded-4x margin-right-10">瞭解更多</a>
=======
          <a href="#" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light-grey btn-u-block rounded-4x margin-right-10">瞭解更多</a>
>>>>>>> landing page v2
          <a href="/profiles/entrance" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light-grey btn-u-block rounded-4x">開始體驗</a>
        </div>
      </div>
    </div>
    <!--=== End Full Height Text Rotater ===-->

    <section id="diip_feature" >
    <div class="call-action-v2 parallaxBg">
      <div class="container" style="margin-bottom: 40px">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1 class="section-heading">特色系統</h1>
              </div>
          </div>
      </div>
      <div class="container" style="width: 85%">
          <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-eye-slash text-primary sr-icons  margin-bottom-10"></i>
                      <h2>矇眼系統</h2>
                      <p class="text-muted">真正重要的事情是用眼睛看不到的，矇眼系統讓雙方只在好感度到達一定標準，才會解鎖照片，讓你不再錯過真正適合你的人！</p>

                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-gamepad text-primary sr-icons  margin-bottom-10"></i>
                      <h2>互動任務</h2>
                      <p class="text-muted">不再漫無目的的浪費時間，任務系統提供符合兩者關係的挑戰，透過有趣的互動，讓你不再擔心無話可說，有效拉近彼此距離！</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-heart text-primary sr-icons margin-bottom-10"></i>
                      <h2>實體約會</h2>
                      <p class="text-muted">不再只是空中相會，系統幫你講出不好意思說的話，在好感度達到標準後，系統邀請雙方來場愉快的兩人約會，不讓害羞阻擋你的緣分!</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-comments-o text-primary sr-icons  margin-bottom-10"></i>
                      <h2>我答你問</h2>
                      <p class="text-muted">打造屬於你的FAQ使用說明書，聊天不再只是安安幾歲住哪。接近前請詳閱公開說明書，讓我們聊點有意思的事情！</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </section>
    <!-- End Feature -->

    <section id="diip_story">
    <div class="container content" style="width: 90%">
          <ul class="timeline-v1">
            <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/3.jpg" alt="">
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light">開始</h2>
                  <p style="font-size: 16px">故事都是從一個不經意的舉動開始，我想，願意嘗試去追求自己的幸福也是一種勇氣吧。恩...這些系統預設的問題也太奇怪了吧，什麼叫"<em>如果你明天一早醒來，你可以增加一個技能或能力，你希望是什麼？</em>"，好吧，那我想要可以跟女生持續講話10分鐘的能力。</p>
                  <span class="testimonials-author" style="float: right;">
                    Alex <em>31歲 ＠台北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/03</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>0</a>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/woman.jpeg" alt="">
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light"><a href="#">偶然</a></h2>
                  <p style="font-size: 16px">哈哈哈，這個人的Q&A好好笑喔，難道他沒有跟女生講過話，都31歲了不會還是個宅宅魔法師吧，那我就大慈大悲的來解救一下你吧</p>
                  <span class="testimonials-author" style="float: right;">
                    Mandy <em>28歲 ＠新北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/05</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>5</a>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge primarya"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <div class="carousel slide carousel-v1" id="myCarousel">
                    <div class="carousel-inner">
                      <div class="item">
                        <img class="img-responsive" src="assets/img/13.jpg" alt="">
                        <div class="carousel-caption">
                          <p>任務：找到三個雙方的共同點</p>
                        </div>
                      </div>
                      <div class="item">
                        <img class="img-responsive" src="assets/img/7.jpg" alt="">
                        <div class="carousel-caption">
                          <p>任務：上傳三張你工作周邊的照片，讓對方猜猜你的工作</p>
                        </div>
                      </div>
                      <div class="item active">
                        <img class="img-responsive" src="assets/img/12.jpeg" alt="">
                        <div class="carousel-caption">
                          <p>任務：錄下30秒的聲音，目標是對方設為鈴聲後，明天可以準時起床</p>
                        </div>
                      </div>
                    </div>

                    <div class="carousel-arrow">
                      <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                      </a>
                      <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light"><a href="#">任務</a></h2>
                  <p style="font-size: 16px">對方也認養了一隻米克斯耶，會養狗的人最有愛心了。而且看起來應該是一位設計師，一定很有氣質，更重要的是聲音好甜美喔！ : )</p>
                  <span class="testimonials-author" style="float: right;">
                    Alex <em>31歲 ＠台北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/17</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>47</a>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/20.jpg" alt="">
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light"><a href="#">見面</a></h2>
                  <p style="font-size: 16px">"<em>任務：找間咖啡店，一起享受個悠閒的下午茶時光吧</em>"不知不覺我跟他的系統好感度已經到達60了耶，我怎麼覺得才過一陣子而已，但是我好像還沒有看過他長什麼樣子，希望不要是一見面就得準備回家刪好友。</p>
                  <span class="testimonials-author" style="float: right;">
                    Mandy <em>28歲 ＠新北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/17</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>60</a>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/4.jpeg" alt="">
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light">相處</h2>
                  <p style="font-size: 16px">她跟我想得一樣是個開朗又活潑的人，之前看她的問答說明，總是看到笑出來，而且執行任務的時候也總是古靈精怪的，我怎麼好像有一點點喜歡她。</p>
                  <span class="testimonials-author" style="float: right;">
                    Alex <em>31歲 ＠台北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer primary">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/23</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>78</a>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <!-- 16:9 aspect ratio -->
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="img-responsive" src="assets/img/5.jpg" alt="">
                  </div>
                </div>
                <div class="timeline-body">
                  <h2 class="font-light">新章</h2>
                  <p  style="font-size: 16px">我們好像就剩下最後一個任務還沒有完成 "<em>最後任務：你覺得對方適合當朋友還是情人</em>"，他的選擇是？</p>
                  <span class="testimonials-author" style="float: right;">
                    Mandy <em>28歲 ＠新北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer primary">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i>  2016/08/30</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>95</a>
                </div>
              </div>
            </li>
            <li class="clearfix" style="float: none;"></li>
          </ul>
    </div>
    </section>

    <!--=== Content Part ===-->
    <section id="diip_email">
    <div class="content no-padding">
      <!-- Flat Testimonials -->
      <div class="flat-testimonials bg-image-v2 bg-image-v2-dark parallaxBg1" style="background-position: 20% 20%;">
        <div class="container">
<<<<<<< 1f52bb610ac2f8912fc3dd746360ea00700defc0
          <div class="headline-center-v2" style="margin:0 auto" >
            <h2 style="font-size: 55px;line-height: 60px;padding: 15px 30px;border: solid 4px #fff;    letter-spacing: 12px;width: 40%;margin:0px auto">即將上線</h2>
            <p class="margin-top-20" style="font-size: 20px;margin-bottom: 20px">第一波參與者將開放VIP功能，請留下<span class="text-highlights text-highlights-blue">信箱</span>，我們會在第一時間通知您</p>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
          </div><!--/end Headline Center-->
          <div class="headline-center-v2 col-md-6 col-md-offset-3">
            <div id="countdown" style="color: white;margin-top:20px"></div>
              <input type="text" name="email" id="email" class="form-control margin-bottom-20" placeholder="填入您的Email">
              <button type="submit" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover rounded-2x btn-u-white btn-u-lg" style="border-color: #FFF3D8; color: #FFF3D8;width:100%">登錄</button>
            </div>
=======
          <div class="headline-center-v2">
            <h2>8月即將上線</h2>
            <p>第一波參與者將開放VIP功能，請留下<span class="text-highlights text-highlights-blue">信箱</span>，我們會在第一時間通知您</p>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
          </div><!--/end Headline Center-->
          <div class="headline-center-v2 col-md-6 col-md-offset-3">
            <div id="countdown" style="color: white"></div>
            <div class="margin-bottom-20">
              <input type="text" name="email" id="email" class="form-control" placeholder="填入您的Email">
            </div>
            <button type="submit" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover rounded-2x btn-u-white btn-u-lg" style="border-color: #FFF3D8; color: #FFF3D8;padding: 2px 46%">登錄</button>
>>>>>>> landing page v2
          </div>
        </div><!--/end container-->
      </div>
    </div>
    </section>
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
      <div class="copyright">
        <div class="container" style="line-height: 1">
          <div class="row">
            <!-- Social Links -->
            <div class="pull-left">
              <ul class="footer-socials list-inline" style="margin-left:5px">
                <li>
                  <p> 聯繫我們：exlimit01@gmail.com</p>
                </li>
                <li>
                  |
                </li>
                <li>
                  <a href="https://www.facebook.com/DIIP.MakeFriends/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" target="_blank">
<<<<<<< 1f52bb610ac2f8912fc3dd746360ea00700defc0
                    <button style="margin-left: -13px;background-color:#FFFFFF;padding:2px;border:0px"><i class="fa fa-facebook"></i> FB</button>
=======
                    <button><i class="fa fa-facebook"></i> Facebook</button>
>>>>>>> landing page v2
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social Links -->
        </div>
      </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
  </div><!--/wrapper-->
<<<<<<< 1f52bb610ac2f8912fc3dd746360ea00700defc0
=======



  <!-- JS Global Compulsory -->
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS Implementing Plugins -->
  <script src="assets/plugins/back-to-top.js"></script>
  <script src="assets/plugins/smoothScroll.js"></script>
  <script src="assets/plugins/backstretch/backstretch-ini.js"></script>
  <script src="assets/plugins/wow-animations/js/wow.min.js"></script>
  <script src="assets/plugins/animated-headline/js/modernizr.js"></script>
  <script src="assets/plugins/animated-headline/js/animated-headline.js"></script>
  <script src="assets/plugins/jquery.parallax.js"></script>
  <script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
  <script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
  <!-- JS Customization -->
  <script src="assets/js/custom.js"></script>
  <!-- JS Page Level -->
  <script src="assets/js/app.js"></script>
  <script src="assets/js/plugins/fancy-box.js"></script>
  <script src="assets/js/plugins/owl-carousel.js"></script>
  <script src="assets/js/plugins/style-switcher.js"></script>
  <script src="assets/js/jquery.countdown.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      App.init();
      new WOW().init();
      App.initParallaxBg();
      FancyBox.initFancybox();
      OwlCarousel.initOwlCarousel();
      StyleSwitcher.initStyleSwitcher();
    });
  </script>
  <!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
  <script src="assets/plugins/html5shiv.js"></script>
  <script src="assets/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->
>>>>>>> landing page v2
</body>
</html>
