<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>DIIP 歡迎</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Web Fonts -->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="assets/css/headers/header-v6.css">
  <link rel="stylesheet" href="assets/css/footers/footer-v1.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="assets/plugins/animate.css">
  <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/plugins/animated-headline/css/animated-headline.css">
  <link rel="stylesheet" href="assets/plugins/parallax-slider/css/parallax-slider.css">
  <link rel="stylesheet" href="assets/plugins/fancybox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">

  <!-- CSS Page Style -->
  <link rel="stylesheet" href="assets/css/pages/shortcode_timeline1.css">

  <!-- CSS Theme -->
  <link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
  <link rel="stylesheet" href="assets/css/theme-skins/dark.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body class="header-fixed">
  <div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-transparent header-dark-dropdown header-sticky">
      <!-- Navbar -->
      <div class="navbar mega-menu" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="menu-container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a href="#">
                <img class="default-logo" src="assets/img/diip-logo.png" alt="Logo">
                <img class="shrink-logo" src="assets/img/diip-logo.png" alt="Logo">
              </a>
            </div>
            <!-- ENd Navbar Brand -->

            <!-- Header Inner Right -->
            <div class="pull-right">
              <div class="topbar-buttons">
                <a href="#" class="btn-u btn-u-blue margin-right-5">註冊</a>
                <a href="#" class="btn-u">登入</a>
              </div>
            </div>
            <!-- End Header Inner Right -->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-responsive-collapse">
            <div class="menu-container">
              <ul class="nav navbar-nav">
                <!-- Nav -->
                <li class="dropdown active">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    導覽
                  </a>
                </li>

                <li class="dropdown active">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    導覽
                  </a>
                </li>

                <li class="dropdown active">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    導覽
                  </a>
                </li>

                <li class="dropdown active">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    導覽
                  </a>
                </li>

                <li class="dropdown active">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    導覽
                  </a>
                </li>
              </ul>
            </div>
          </div><!--/navbar-collapse-->
        </div>
      </div>
      <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    <!--=== Full Height Text Rotater ===-->
    <div class="fullscreen-static-image1 fullheight bg-color-darker">
      <div class="container valign__middle text-center">
        <span class="promo-text-v1 color-dark animated fadeInDown wow margin-bottom-10" data-wow-duration="1.5s" data-wow-delay=".5s">
          DIIP 走進你的心
        </span>
        <h2 class="promo-text-v2 color-dark cd-headline letters type margin-bottom-20">
          就是喜歡
          <span class="cd-words-wrapper">
            <b class="is-visible">任性做自己</b>
            <b>認識新朋友</b>
            <b>聽到好故事</b>
          </span>
        </h2>
        <div class="animated fadeInUp wow" data-wow-duration="1.5s" data-wow-delay="1s">
          <a href="#" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light-grey btn-u-block rounded-4x margin-right-10">瞭解更多</a>
          <a href="#" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light-grey btn-u-block rounded-4x">開始體驗</a>
        </div>
      </div>
    </div>
    <!--=== End Full Height Text Rotater ===-->

        <!-- Begin Content -->
        <div class="col-md-10 col-md-offset-1 margin-top-20 margin-bottom-20">
          <ul class="timeline-v1">
            <li>
              <div class="timeline-badge primary">
              <i class="glyphicon glyphicon-record"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/1.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                  <h2><a href="#">111</a></h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a class="btn-u btn-u-sm" href="#">Read More</a>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                    <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/2.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                  <h2><a href="#">222</a></h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a class="btn-u btn-u-sm" href="#">Read More</a>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> March 16, 2014</li>
                    <li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge primarya"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="assets/img/3.jpg" alt=""/>
                <div class="timeline-body text-justify">
                  <h2><a href="#">3333</a></h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a class="btn-u btn-u-sm" href="#">Read More</a>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> November 06, 2014</li>
                    <li><i class="fa fa-comments-o"></i> <a href="#">37 Comments</a></li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>121</a>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/7.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                  <h2><a href="#">444</a></h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a class="btn-u btn-u-sm" href="#">Read More</a>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> November 02, 2014</li>
                    <li><i class="fa fa-comments-o"></i> <a href="#">24 Comments</a></li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>34</a>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/8.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                  <h2><a href="#">555</a></h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a class="btn-u btn-u-sm" href="#">Read More</a>
                </div>
                <div class="timeline-footer primary">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> February 26, 2014</li>
                    <li><i class="fa fa-comments-o"></i> <a href="#">93 Comments</a></li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>355</a>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/img/9.jpg" alt=""/>
                </div>
                <div class="timeline-body">
                  <h2><a href="#">6666</a></h2>
                  <p>I only make it responsive and remove the empty spaces to be more like Facebook timeline!</p>
                  <a class="btn-u" href="#">Read More</a>
                </div>
                <div class="timeline-footer primary">
                  <ul class="list-inline">
                    <ul class="list-unstyled list-inline blog-info">
                      <li><i class="fa fa-clock-o"></i> November 29, 2013</li>
                      <li><i class="fa fa-comments-o"></i> <a href="#">162 Comments</a></li>
                    </ul>
                    <a class="likes" href="#"><i class="fa fa-heart"></i>798</a>
                  </ul>
                </div>
              </div>
            </li>
            <li class="clearfix" style="float: none;"></li>
          </ul>
        </div>
        <!-- End Content -->

    <!-- Icon Boxes 26 -->
    <div class="service-info no-padding">
      <div class="container content-sm">
        <div class="row">
          <div class="col-sm-6 content-boxes-v3 content-boxes-v3-right sm-margin-bottom-30">
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-bar-chart"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">矇眼模式</h2>
                <p>真正重要的事情是用眼睛看不到的。矇眼系統讓雙方只有互動到一定標準，才會解鎖照片，讓你不再以貌取人錯失良伴。</p>
              </div>
            </div>
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-directions"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">問答說明</h2>
                <p>打造屬於你的使用說明書。問答說明讓你不再安安幾歲住哪，接近前請詳閱公開說明書，讓我們聊點有意思的。</p>
              </div>
            </div>
            <div class="clearfix">
              <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-rocket"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">實體約會</h2>
                <p>不再只是空中相會。任務系統幫你講不好意思說的話，在雙方關係達到標準後，系統自動邀請雙方來場愉快的兩人約會，</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 content-boxes-v3">
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-game-controller"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">任務系統</h2>
                <p>不再漫無目的的浪費時間。任務系統提供符合兩者關係的挑戰，透過有趣的互動，讓你拉近彼此距離。</p>
              </div>
            </div>
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-badge"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">關係分析</h2>
                <p>放心分享私密事。關係分析讓屬於我的小秘密，只有熟悉的人才知道，想知道先努力跟我變熟吧。</p>
              </div>
            </div>
            <div class="clearfix">
              <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-envelope"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">檢舉系統</h2>
                <p>打造對別有用心使用者不友善的環境，營造清新、健康的交友空間。</p>
              </div>
            </div>
          </div>
        </div>
      </div><!--/container-->
    </div>
    <!-- End Icon Boxes 26 -->

    <!--=== Content Part ===-->
    <div class="content no-padding">
      <!-- Flat Testimonials -->
      <div class="flat-testimonials bg-image-v2 bg-image-v2-dark parallaxBg1" style="background-position: 50% 241px;">
        <div class="container">
          <div class="headline-center-v2 margin-bottom-10">
            <h2>團隊成員</h2>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            <p>一群致力於打造非主流的交友方式，摒棄採用相片、快速以及亂槍打鳥隨機的方式，我們相信<a href="#">慢慢來，比較快</a>。</p>
          </div><!--/end Headline Center-->

          <div class="row">
            <div class="col-sm-4">
              <div class="flat-testimonials-in md-margin-bottom-50">
                <img alt="" src="assets/img/shou.jpg" class="rounded-x img-responsive">
                <h3>Shou</h3>
                <span class="color-green">Web Developer</span>
                <p>一段話</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="flat-testimonials-in md-margin-bottom-50">
                <img alt="" src="assets/img/jill.jpg" class="rounded-x img-responsive">
                <h3>Jill</h3>
                <span class="color-green">Designer</span>
                <p>一段話</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="flat-testimonials-in">
                <img alt="" src="assets/img/david.jpg" class="rounded-x img-responsive">
                <h3>David</h3>
                <span class="color-green">Marketing Developer</span>
                <p>一段話</p>
              </div>
            </div>
          </div><!--/end row-->
        </div><!--/end container-->
      </div>
      <!-- End Flat Testimonials -->
      </div><!--/end container-->
    </div>
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
      <div class="copyright">
        <div class="container">
          <div class="row">
            <!-- Social Links -->
            <div class="pull-left">
              <ul class="footer-socials list-inline">
                <li>
                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <p>聯繫方式：exlimit01@gmail.com</p>
                </li>
              </ul>
            </div>
            <!-- End Social Links -->
          </div>
        </div>
      </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
  </div><!--/wrapper-->



  <!-- JS Global Compulsory -->
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS Implementing Plugins -->
  <script src="assets/plugins/back-to-top.js"></script>
  <script src="assets/plugins/smoothScroll.js"></script>
  <script src="assets/plugins/backstretch/backstretch-ini.js"></script>
  <script src="assets/plugins/wow-animations/js/wow.min.js"></script>
  <script src="assets/plugins/animated-headline/js/modernizr.js"></script>
  <script src="assets/plugins/animated-headline/js/animated-headline.js"></script>
  <script src="assets/plugins/jquery.parallax.js"></script>
  <script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
  <script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
  <!-- JS Customization -->
  <script src="assets/js/custom.js"></script>
  <!-- JS Page Level -->
  <script src="assets/js/app.js"></script>
  <script src="assets/js/plugins/fancy-box.js"></script>
  <script src="assets/js/plugins/owl-carousel.js"></script>
  <script src="assets/js/plugins/style-switcher.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      App.init();
      new WOW().init();
      App.initParallaxBg();
      FancyBox.initFancybox();
      OwlCarousel.initOwlCarousel();
      StyleSwitcher.initStyleSwitcher();
    });
  </script>
  <!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
  <script src="assets/plugins/html5shiv.js"></script>
  <script src="assets/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->
</body>
</html>
