<h1>Chat Room</h1>

<div id="messages">
  <%= render @messages.order("id DESC") %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<%=link_to"Back", root_path  %> 