<%= render :partial => "profiles/default_sidebar" %>

<div class="col-md-9 profile">
  <div class="profile-body">
    <div class="panel panel-profile">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-users"></i>任務列表</h2>
      </div>

      <section id="friend-list">
        <%= render partial: "shared/v2_friend_list" %>
      </section>

      <hr>


    </div>
  </div>
</div>