<h1>選個地點吧</h1>

<hr>

<%= form_tag v2_interactions_simu_go_out_mission_path(room_id: @room, friend_id: @friend_id, interaction_id: @interaction.id) do %>

  <%= text_field_tag 'place', "信義威秀" %>
  <%= submit_tag "確定", :class => "btn btn-primary" %>

<% end %>