<h1>您與 <%= @friend.profile.nickname %> 默契考驗如下 </h1>
<br>
<h2>長方形．紅色</h2>

<h3>您：Youtube</h3>
<h3>對方：Youtube</h3>
<br>
<h2>好吃的．限時的</h2>

<h3>您：泡芙</h3>
<h3>對方：泡芙</h3>
<br>
<h2>戶外的．大戰．肚子痛</h2>

<h3>您：大胃王比賽</h3>
<h3>對方：水球</h3>
<br>
<h1>任務結果：  您與 <%= @friend.profile.nickname %> 的好感度上升了 10 + 5 </h1>